.Field {
  max-width: 600px;
}

/* TODO: This should be a style from the styleguide */
.Input,
.Select,
.Textarea {
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  color: #4A4A4A;
  border: 1px solid #E6E7E8;
  border-radius: 4px;
  box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  width: 100%;
}

.Input:focus,
.Select:focus,
.Textarea:focus {
  border-color: #0175D7;
}

.Button {
  width: 100%;
  margin-top: 10px;
}

.Label_Textarea {
  font-size: 13px;
  font-weight: 400;
  color: #4A4A4A;
  padding: 10px 0 0 13px;
  position: absolute;
}

.Textarea {
  padding-top: 30px;
  resize: none;
  height: 97px;
}

.Input::placeholder,
.RequiredField_Label {
  font-size: 13px;
  font-weight: 400;
  color: #4A4A4A;
}

.TermsOfService,
.Field-checkbox .Label {
  font-size: 10px;
  font-weight: 600;
  color: #777777;
}

.Field-checkbox .Label {
  padding-left: 5px;
  width: 100%;
}

.TermsOfService a {
  font-size: 10px;
  text-decoration: none;
  line-height: inherit;
}

.Field.Field-checkbox {
  display: inline-flex;
  flex-direction: row-reverse;
  margin: 5px;
}

.TermsOfService {
  margin-left: 5px;
}

.Field-checkbox .Input {
  width: auto;
}

.RequiredField {
  line-height: 0;
}

.RequiredField_Label {
  position: relative;
  top: 13px;
  left: 13px;
}

.RequiredField_Label:after {
  content: ' *';
  color: #ea5117;
}


.Button {
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 100px;
  background-color: #0175D7;
  color: #fff;
  box-shadow: 0 0.5px 1px 0 rgba(0,0,0,.15);
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
