.FilterCard {
  padding: 5px;
}

.FilterCard_Body {
  border: 1px solid black;
  padding: 46px;
  text-align: center;
}

.WithButtons .FilterCard_Body {
  padding: 25px;
  margin-bottom: 5px;
}

.FilterCard_Buttons .Button {
  margin: 15px;
}
