.AutoSuggestField {
  display: flex;
  position: relative;
}

.AutoSuggestField .Dropdown,
.AutoSuggestField .Field {
  margin: 0;
  width: 300px;
}

.AutoSuggestField .Card {
  text-align: left;
  max-width: 100%;
}

.AutoSuggestField .List {
  padding: 0;
}

.AutoSuggestField .ListItem {
  padding: 5px 0;
}

.AutoSuggestField .Highlighter-Match {
  background: none;
}

.AutoSuggestField .Menu {
  padding-left: 5px;
}

.AutoSuggestField .Button_Clear,
.AutoSuggestField .Button_Submit {
  position: absolute;
  right: 3px;
  top: 4px;
  height: 40px;
}

.AutoSuggestField .Input {
  flex: 1;
}
