.Button {
  font-weight: bold;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #0175D7;
  color: #fff;
  box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.15);
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-tap-highlight-color: none;
  outline: none;
}

.Button-red {
  background: #ff0000;
}

.Button-large {
  height: 80px;
}

.Button-small {
  padding: 4px 10px;
}
