.Calendar {
  position: absolute;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  left: 6px;
  width: 230px;
  top: calc(100% - 6px);

  .Calendar_DaysOfWeek {
    span {
      width: 1.7rem;
      line-height: 1.7rem;
      margin: 0.166rem;
      display: inline-block;
      text-align: center;
      color: #adb0b3;
    }
  }

  .Calendar_Controls {
    text-align: center;
    border-bottom: 1px solid #aeaeae;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    padding: 8px;
    display: flex;

    .Calender_Month {
      color: #000;
      font-size: 13px;
      font-weight: 700;
      flex-basis: 100%;
    }

    .Calendar_Navigation {
      flex: 1;
      border: 8px solid transparent;
      line-height: 0;
    }
  }

  .Calendar_Date {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: 0;
    vertical-align: baseline;
    color: #000;
    display: inline-block;
    width: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    margin: 0.166rem;
    cursor: pointer;
    background: transparent;

    &:hover {
      border-radius: 0.3rem;
      background-color: #f0f0f0;
    }

    &-active {
      background-color: #216ba5;
      border-radius: 4px;
      color: #ccc;

      &:hover {
        background-color: #1d5d90;
      }
    }

    &-disabled {
      cursor: default;
      color: #ccc;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
