.Card {
  border-radius: 5px;
  box-shadow: 1px 1px 5px #666;
  width: 500px;
  height: 200px;
  max-width: 90%;
}

.InlineCard .Card_Body {
  padding: 0 15px;
  flex-direction: column;
  justify-content: space-between;
}

.SearchFilter .Card_Body {
  justify-content: center;
}

.SearchFilter.Card {
  width: 379px;
  max-width: unset;
}

.InlineCard.Card {
  width: 343px;
  max-width: unset;
}

.InlineCard .Card_Body,
.SearchFilter .Card_Body {
  height: 100%;
  display: flex;
  width: unset;
}
