.CarouselNavigation-previous,
.CarouselNavigation-next {
  padding: 15px;
  top: 50%;
  position: absolute;
  z-index: 100;
  background: #000;
  color: #fff;
  border-radius: 5px;
  outline: none;
}

.CarouselNavigation-next {
  right: 0;
  transform: translate(100%, -50%);
}

.CarouselNavigation-previous {
  transform: translate(-100%, -50%);
}
