.Dropdown {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.Dropdown .Card {
  border-radius: 3px;
  text-align: center;
  width: auto;
  height: auto;
}

.Dropdown .Field {
  width: 500px;
}

.Dropdown .Field .Label {
  flex: none;
  padding-right: 10px;
}

.Dropdown .Button .Text {
  color: #fff;
  margin: 0;
  padding: 0;
}

.Dropdown .Button-expand:after,
.Dropdown .Button-collapse:after {
  padding-left: 20px;
}

.Dropdown .Button-expand:after {
  content: '\25b2';
}

.Dropdown .Button-collapse:after {
  content: '\25bc';
}

.Dropdown .List {
  padding: 5px;
}
