
.FilterPanel .Input,
.FilterPanel .Select,
.FilterPanel .Textarea {
  padding: 6px 10px;
  flex: 4;
}

.FilterPanel .FieldSet {
  width: 100%;
  border: none;
}

.FilterPanel .FieldSet_legend {
  width: 100%;
  text-align: center;
}
