.Gmap_Container {
  position: fixed;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.Gmap_Element {
  height: 100%;
}

.Gmap_Spinner {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

