@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.Gmap {
  position: fixed !important; /* stylelint-disable-line declaration-no-important */
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.Gmap_Spinner {
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.Gmap_OverlayView {
  transform: translate(-50%, -50px);
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  white-space: nowrap;
}

.Gmap_FreeDrawLayer {
  position: absolute;
  z-index: 40;
  top: 12px;
  right: 90px;
  width: 46px;
  height: 46px;
  font-size: 12px;
  padding: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

.FreeDrawButton {
  position: absolute;
  right: 10px;
  top: 35px;
}

.FreeDrawButton-active {
  background-color: #ffffff;
  color: #4a4a4a;
}

.FreeDrawButton-disabled {
  background-color: #e6e7e8;
  color: #777777;
}
