.Gmap {
  position: fixed !important; /* stylelint-disable-line declaration-no-important */
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.Gmap_Spinner {
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.Gmap_OverlayView {
  transform: translate(-50%, -50px);
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  white-space: nowrap;
}
