input,
textarea {
  box-sizing: border-box;
}

.ModalBody {
  position: relative;
}

.Input,
.Select,
.Textarea {
  background-color: #ffffff;
  box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px #e9e9e9;
  border-radius: 4px;
  padding: 16px 10px;
  width: 100%;
  font-size: 13px;
}

.Input::placeholder,
.Select::placeholder,
.Textarea::placeholder,
.Label_Textarea {
  color: #adadad;
}

.Field.Field-checkbox {
  color: #000;
  display: inline-flex;
  flex-direction: row-reverse;
}

.Field-checkbox .Input {
  width: auto;
  border: 0;
  margin-right: 16px;
  flex: none;
}

.Field-checkbox .Label,
.TermsOfService {
  font-size: 14px;
}

.Field.Field-checkbox,
.TermsOfService {
  padding: 10px 10px 0 10px;
}

.CloseButton {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: bold;
  font-size: 20px;
  padding: 16px;
}
