.LeadForm .Input::placeholder,
.LeadForm .Select::placeholder,
.LeadForm .Textarea::placeholder,
.LeadForm .Label_Textarea {
  color: #adadad;
}

.LeadForm .Field.Field-checkbox {
  color: #000;
  display: inline-flex;
  flex-direction: row-reverse;
}

.LeadForm .Field-checkbox .Input {
  width: auto;
  border: 0;
  margin-right: 16px;
  flex: none;
}

.LeadForm .Field-checkbox .Label,
.LeadForm .TermsOfService {
  font-size: 14px;
}

.LeadForm .Field.Field-checkbox,
.LeadForm .TermsOfService {
  padding: 10px 10px 0;
}

.LeadForm .CloseButton {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: bold;
  font-size: 20px;
  padding: 16px;
}
