.RadioButton {
  display: inline;
  font-size: 16px;
  padding: 10px 5px;
  margin: 5px 0;
  cursor: pointer;
}

.RadioButton .Label {
  cursor: pointer;
}

.RadioButton-vertical {
  display: block;
  border-radius: 3px;
  border: solid 0.5px #afafaf;
  text-align: center;
  padding: 0;
}

.RadioButton-vertical .Label {
  display: block;
  cursor: pointer;
  padding: 15px 5px;
}

.RadioButton-checked {
  background-color: rgba(206, 174, 236, 0.25);
}

.RadioButton .Input {
  margin-left: 10px;
  border: 0;
  box-shadow: none;
}

.RadioButton-vertical .Input {
  margin: 0 0 12px;
}

.RadioButton .Input:after {
  padding: 10px 5px;
}

.RadioButton-hidden .Input {
  display: none;
}
