.RadioGroup {
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.InlineCard .RadioGroup {
  border-radius: unset;
  padding: unset;
  display: flex;
  justify-content: space-between;
  width: 190px;
}

.SearchFilter .RadioGroup {
  width: 310px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
