.Title {
  font-weight: bold;
  text-align: center;
}

.Title-defaultLook {
  border: solid 1px;
}

.Title-yuge {
  font-size: 2.5rem;
  font-weight: 700;
}

.Title-yuge a {
  text-decoration: none;
  text-transform: capitalize;
}
