.ToggleButton {
  text-align: center;
  padding: 0;
  border: 0 none;
  background-color: transparent;
  color: #fff;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.ToggleButton-on svg {
  fill: #4A8FE2;
  stroke: #4A8FE2;
}

.ToggleButton-off svg {
  fill: transparent;
  stroke: #4A8FE2;
}
