.AutoSuggestField {
  display: flex;
}

.AutoSuggestField .Dropdown,
.AutoSuggestField .Field {
  margin: 0;
  width: 300px;
}

.AutoSuggestField .Card {
  height: auto;
  width: auto;
  text-align: left;
}

.AutoSuggestField .List {
  padding: 0;
}

.AutoSuggestField .ListItem {
  padding: 5px 0;
}

.AutoSuggestField .Highlighter-Match {
  background: none;
}

.AutoSuggestField .Menu {
  padding-left: 5px;
}

.AutoSuggestField .Button_Clear,
.AutoSuggestField .Button_Submit {
  position: relative;
  top: 4px;
  height: 40px;
}

.AutoSuggestField .Button_Clear {
  left: -36px;
}

.AutoSuggestField .Button_Submit {
  left: -70px;
}

.AutoSuggestField .Input {
  flex: 1;
}
