.InlineCard .ApplyButton:active {
  background-color: #ffffff;
  color: #0175d7;
}

.InlineCard .ApplyButton {
  background-color: transparent;
  color: #ffffff;
  font-size: 13px;
  min-width: 16px;
  border: solid 1px #ffffff;
  padding: 9px 16px;
  height: auto;
  flex-basis: 48px;
}
