.FilterCard {
  background-color: #0175d7;
  color: #ffffff;
  width: 343px;
  height: 200px;
}

.FilterCard_Title {
  font-weight: normal;
  font-size: 17px;
  text-align: left;
}

.FilterCard_Description {
  font-size: 14px;
  font-weight: lighter;
  max-width: 200px;
  line-height: 22px;
}

.FilterCard_Header {
  margin-top: 15px;
}

.FilterCard_Body {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  height: 34px;
}
