.PriceFilterCard-noValue .ApplyButton {
  visibility: hidden;
}

.PriceFilterCard .RangeSlider {
  width: 73%;
  padding: 0 15px 0 0;
}

.PriceFilterCard .slider {
  appearance: none;
  background: #0077ff;
  border: 10px solid #ffffff;
  height: 12px;
  width: 12px;
  margin-top: -22px;
}

.PriceFilterCard .minLabel,
.PriceFilterCard .maxLabel {
  display: none;
}

.PriceFilterCard .valueLabel {
  top: -47px;
}

.PriceFilterCard .track {
  background: #5790d9;
  height: 13px;
}

.PriceFilterCard .activeTrack {
  background: #e6e7e9;
  height: 13px;
  border-radius: 20px 0 0 20px;
}
