.InlineCard.RatingFilterCard {
  background-color: #59626a;
}

.InlineCard.RatingFilterCard .FilterCard_Description {
  max-width: 250px;
}

.InlineCard.RatingFilterCard .ApplyButton {
  min-width: 140px;
}

.InlineCard.RatingFilterCard .ApplyButton:active {
  color: #59626a;
}

.InlineCard.RatingFilterCard .RadioGroup {
  display: none;
}
