.Drawer {
  width: 100%; /*can be in percentage also.*/
  text-align: center;
  justify-content: center;
}

.Drawer .ToggleButton{
  position: relative;
  width: 104px;
  height: 36px;
  border-radius: 100px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  margin-bottom:9.5px;
}

.Drawer .ToggleButton-on{}

.Drawer .ToggleButton-off{}

.Drawer .Drawer_Content{
  width: 100%;
}

.Drawer .Drawer_Content div{
  width:200px;
  height:200px;
  border: solid 1px black;
  margin:0px auto;
  background: gray;
}
