.GridViewHeader {
  display: flex;
  width: 500px;
  justify-content: space-between;
  background-color: #ffffff;
  height: 40px;
  padding-left: 10px;
  color: #373737;
  font-size: 12px;
}

.GridViewHeaderCard {
  display: flex;
  width: 600px;
  height: 300px;
  background-color: #f7f7f7;
  justify-content: center;
  padding-top: 30px;
}

.GridViewHeader_Counter {
  align-self: center;
  color: #777777;
}

.GridViewHeader_SortLabel {
  font-weight: bold;
  padding-right: 3px;
}

.GridViewHeader .Dropdown {
  height: 10px;
}

.GridViewHeader .DropdownAnchor {
  min-width: 150px;
  border: 0;
  background-color: transparent;
  padding: 0;
  display: flex;
  outline: none;
  cursor: pointer;
  padding: 14px;
  position: relative;
}

.GridViewHeader_AnchorText {
  padding-right: 15px;
}

.GridViewHeader .DropdownAnchor-expand {
  box-shadow: 0 1px 5px 0.5px lightgrey;
}

.GridViewHeader .DropdownAnchor-expand::after {
  background-color: #ffffff;
  content: "";
  height: 15px;
  width: inherit;
  z-index: 1;
  position: absolute;
  top: 30px;
  left: 0;
}

.GridViewHeader .Dropdown_Body {
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
  top: -1px;
  line-height: 30px;
  padding: 10px 0;
  box-shadow: 0 1px 5px 0.5px lightgrey;
}

.GridViewHeader .ListItem {
  padding: 0 10px;
}

.GridViewHeader_SortChevron {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 0;
  color: #d42022;
}

.GridViewHeader .DropdownAnchor-expand .GridViewHeader_SortChevron {
  transform: rotate(180deg);
}

.GridViewHeader .ListItem-selected {
  background: #5a5a5a;
  color: #ffffff;
}

.GridViewHeader .ListItem-highlight {
  background-color: #e6e7e8;
  color: #373737;
}
