.ListingCell-map {
  width: 280px;
  height: 200px;
  border-radius: 5px;
  background-color: #ffffff;
  background-color: var(--white-two);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.24);
}

.ListingCell-map {
  font-family: ProximaNova;
  color: #9b9b9b;
}

.ListingCell-map .Card_Body {
  display: flex;
  flex-direction: column;
}

.ListingCell_Top {
  height: 120px;
}

.ListingCell_Bottom {
  display: flex;
  flex-direction: column;
  padding: 5px 6px 11px 10px;
}

.ListingCell_Carousel {
  height: 100%;
  width: 100%;
  text-align: center;
}

.ListingCell_Coupon {
  height: 16px;
  width: 54px;
  position: relative;
  bottom: 120px;
}

.ListingCell_Favorite {
  height: 16px;
  width: 15px;
  position: relative;
  bottom: 135px;
  left: 191px;
}

.ListingCell_Info_Bottom,
.ListingCell_Info_Top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ListingCell_Rating {
  display: flex;
  flex-direction: row;
}

.ListingCell_Rating .RatingBar_Items {
  display: flex;
}

.ListingCell_CtaSection {
  border: 1px solid grey;
  padding: 10px;
  width: auto;
  display: flex;
  flex-direction: column;
}

.ListingCell_CTA {

}

.ListingCell_Rating .Label {
  font-size: 12px;
  color: #9b9b9b;
}

.ListingCell_Rating {
  display: flex;
  align-items: baseline;
}

.ListingCell_Price {
  font-size: 16px;
  font-weight: bold;
  color: #4a4a4a;
}

.ListingCell_Title {
  color: #4a4a4a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 264px;
}

.ListingCell_Bedroom,
.ListingCell_Availability,
.ListingCell_Title {
  font-size: 13px;
}

.ListingCell_Availability {
  color: #d32526;
}

.ListingCell_CTA .Button {
  padding-top: 5px;
  padding-bottom: 7px;
  width: 121px;
  height: 25px;
  border-radius: 16px;
  background-color: #d32526;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  font-family: ProximaNova;
  color: #ffffff;
  font-size: 11px;
}

.ListingCell_Rating .RatingBar_Item svg {
  width: 9.1px;
  height: 8.9px;
}
