.ListingCell-map .Card_Body {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.ListingCell_Price {

}

.ListingCell_Title {

}

.ListingCell_Bedroom {

}

.ListingCell_Details {
  border: 1px solid blue;
  padding: 15px;
}

.ListingCell_Top {
  height: 120px;
}

.ListingCell_Carousel {
  height: 100%;
  width: 100%;
  text-align: center;
}

.ListingCell_Coupon {
  height: 16px;
  width: 54px;
  position: relative;
  bottom: 120px;
}

.ListingCell_Favorite {
  height: 16px;
  width: 15px;
  position: relative;
  bottom: 135px;
  left: 315px;
}

.ListingCell_Bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ListingCell_Rating {
  display: flex;
  flex-direction: row;
}

.ListingCell_Rating .RatingBar_Items {
  display: flex;
}

.ListingCell_CtaSection {
  border: 1px solid grey;
  padding: 10px;
  width: auto;
  display: flex;
  flex-direction: column;
}

.ListingCell_CtaSection .Button {
  padding: 5px;
  margin: 10px;
}

.ListingCell_Rating .RatingBar_Item svg {
  height: 20px;
  width: 20px;
}
