.ListingCell-map {
  width: 280px;
  height: 200px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12), 0 0 4px 0 rgba(0, 0, 0, 0.24);
  font-family: ProximaNova;
  color: #9b9b9b;
}

.ListingCell-map .Card_Body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.ListingCell_Top {
  height: 120px;
  border-bottom: 1px solid lightgrey;
}

.ListingCell_Carousel {
  height: 100%;
  width: 100%;
  text-align: center;
}

.ListingCell_Coupon {
  height: 16px;
  width: 54px;
  position: relative;
  bottom: 120px;
}

.ListingCell_Favorite {
  height: 16px;
  width: 15px;
  position: relative;
  bottom: 135px;
  left: 218px;
}

.ListingCellBottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 80px;
  padding: 5px 6px 11px 10px;
}

.ListingCellBottom_Info,
.ListingCellBottom_CTAs {
  height: 100%;
}

.ListingCellBottom_CTAs {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.ListingCellBottom_Rating {
  display: flex;
  line-height: 12px;
  display: flex;
  align-items: baseline;
}

.ListingCellBottom_Rating .RatingBar_Items {
  display: flex;
}

.ListingCellBottom_Rating .Label {
  font-size: 12px;
  color: #9b9b9b;
}

.ListingCellBottom_Price {
  font-size: 16px;
  font-weight: bold;
  color: #4a4a4a;
}

.ListingCellBottom_Title {
  color: #4a4a4a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 264px;
}

.ListingCellBottom_Bedroom,
.ListingCellBottom_Availability,
.ListingCellBottom_Title {
  font-size: 13px;
}

.ListingCellBottom_Availability {
  color: #d32526;
}

.ListingCellBottom_CTA {
  padding-top: 5px;
  padding-bottom: 7px;
  width: 121px;
  height: 25px;
  border-radius: 16px;
  background-color: #d32526;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  font-family: ProximaNova;
  color: #ffffff;
  font-size: 11px;
}

.ListingCellBottom_Rating .RatingBar_Item svg {
  width: 9.1px;
  height: 8.9px;
}
