.ListingCell {
  border-radius: 5px;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MobileListing {
  width: 351px;
  height: 240px;
}

.MobileListing .Listing_Top {
  width: 100%;
}

.MobileListing .Listing_Bottom {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin: 8px 0 7px;
}

.MobileListing .Listing_CTAs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3px 12px 5px 0;
}

.MobileListing_Sponsored {
  color: #ffffff;
  font-size: 11px;
  text-shadow: 0 1px 1px rgba(0,0,0, 0.4);
  margin-top: 4px;
}

.MobileListing .Listing_CtaButton {
  padding-top: 5px;
  padding-bottom: 7px;
  width: 121px;
  height: 25px;
  border-radius: 16px;
  background-color: #d32526;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  font-family: ProximaNova;
  color: #ffffff;
  font-size: 11px;
  cursor: pointer;
}

a.MobileListing .Listing_CtaButton {
  text-align: center;
  height: initial;
}

.MobileListing .Button {
  outline: none;
}

.MobileListing .Listing_FavoriteButton {
  position: absolute;
  z-index: 10;
  right: calc(1% + 10px);
  top: 4%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.MobileListing .Listing_Banner {
  position: absolute;
  z-index: 10;
  left: 12px;
  bottom: 87px;
  cursor: pointer;
}

.MobileListing .Banner {
  background-color: #387ab5;
}

.MobileListing .Listing_FavoriteButton.ToggleButton-on {
  color: #d32526;
}

.MobileListing .Listing_FavoriteButton.ToggleButton-off {
  color: rgba(192, 192, 192, 0.5);
}

.MobileListing .Listing_Info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 195px;
  margin-left: 12px;
}

.MobileListing .Listing_Info .Text {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.MobileListing .MobileListing_RatingAndSponsored {
  height: 15px;
  position: absolute;
  top: 8px;
  left: 12px;
}

.MobileListing .RatingBar {
  display: flex;
  align-items: flex-end;
}

.image-gallery,
.ListingCell img {
  border-radius: 5px 5px 0 0;
}

.MobileListing .Photo {
  min-height: 120px;
}

.MobileListing .Price,
.MobileListing .PropertyName,
.MobileListing .Address {
  color: #4a4a4a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 264px;
  font-weight: bold;
}

.MobileListing .Price {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MobileListing .PropertyName,
.MobileListing .Address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}

.MobileListing .MobileListing_BedsAndBaths {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin-top: 1px;
}

.BedsAndBaths .Bedroom,
.BedsAndBaths .Bathroom, {
  white-space: nowrap;
  color: #797979;
}

.MobileListing .Label {
  text-align: center;
  display: inline;
  margin-left: 8px;
  font-weight: 100;
  letter-spacing: 0.1px;
  font-size: 11px;
  color: #ffffff;
}

.MobileListing .Bedroom,
.MobileListing .Bathroom {
  color: #9b9b9b;
}

.MobileListing .UnitLevelAvailability,
.MobileListing .Availability {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #d32526;
}

.MobileListing :global(.image-gallery-left-nav),
.MobileListing :global(.image-gallery-right-nav) {
  padding: 10px 15px;
}

.MobileListing .PropertyLink {
  text-decoration: none;
}
