.ListingCell {
  border-radius: 5px;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MobileListing {
  width: 280px;
  height: 200px;
}

.MobileListingSingleFamily .Listing_CTAs {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.MobileListing .Listing_Top {
  width: 100%;
}

.MobileListing .Listing_Bottom {
  width: 264px;
  display: flex;
  justify-content: space-between;
  margin: 5px 6px 11px 10px;
  height: 80px;
}

.MobileListing .Listing_CTAs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 7px;
}

.MobileListing .Listing_CtaButton {
  padding-top: 5px;
  padding-bottom: 7px;
  width: 121px;
  height: 25px;
  border-radius: 16px;
  background-color: #d32526;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  font-family: ProximaNova;
  color: #ffffff;
  font-size: 11px;
  cursor: pointer;
}

a.MobileListing .Listing_CtaButton {
  text-align: center;
  height: initial;
}

.MobileListing .Button {
  outline: none;
}

.MobileListing .Listing_FavoriteButton {
  position: absolute;
  z-index: 10;
  right: calc(1% + 10px);
  top: 4%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.MobileListing .Listing_Banner {
  position: absolute;
  z-index: 10;
  left: calc(3% + 10px);
  top: 4%;
  cursor: pointer;
}

.MobileListing .Listing_FavoriteButton.ToggleButton-on {
  color: #d32526;
}

.MobileListing .Listing_FavoriteButton.ToggleButton-off {
  color: rgba(192, 192, 192, 0.5);
}

.MobileListing .Listing_Info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.MobileListing .Listing_Info .Text {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.MobileListing .RatingBar {
  display: flex;
  align-items: baseline;
  height: 9px;
}

.ListingCell .RatingBar_Items {
  display: flex;
  flex-direction: row;
}

.RatingBar_Item svg {
  width: 9.1px;
  height: 8.9px;
  margin-left: 1.5px;
}

.image-gallery,
.ListingCell img {
  border-radius: 5px 5px 0 0;
}

.MobileListing .Photo {
  min-height: 120px;
}

.MobileListing .Price {
  font-size: 16px;
  font-weight: bolder;
  color: #4a4a4a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MobileListing .PropertyName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  color: #4a4a4a;
}

.MobileListing .Address {
  overflow: hidden;
  max-width: 264px;
  font-size: 13px;
  color: #4a4a4a;
}

.MobileListing .Availability {
  color: #d32526;
  margin-top: 2px;
  font-size: 13px;
}

.MobileListing .Label {
  font-size: 12px;
  padding-left: 3px;
}

.MobileListing .Bedroom {
  white-space: nowrap;
  font-size: 13px;
}

.MobileListing .UnitLevelAvailability {
  margin-left: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}

.MobileListing .Bedroom,
.MobileListing .UnitLevelAvailability,
.MobileListing .Label {
  color: #9b9b9b;
}

.MobileListing .BedsAndUla {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.MobileListing .BedsAndUla > Div {
  margin-top: 2px;
}

.MobileListing :global(.image-gallery-left-nav),
.MobileListing :global(.image-gallery-right-nav) {
  padding: 10px 15px;
}

.MobileListing .PropertyLink {
  text-decoration: none;
}
