.InlineCard .RadioButton {
  background-color: transparent;
}

.InlineCard .RadioButton .Label {
  font-size: 13px;
  font-weight: normal;
  display: inline-block;
  min-width: 16px;
  border: solid 1px #ffffff;
  border-radius: 100px;
  padding: 9px;
  text-align: center;
}

.InlineCard .RadioButton-checked .Label {
  background-color: #ffffff;
  color: #0175d7;
}
