.DropdownAnchor {
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 96px;
  height: 36px;
  border: none;
  box-shadow: 1px 1px 4px 1px lightgrey;
  z-index: 1;
}

.DropdownAnchor:focus {
  outline: none;
}

.DropdownAnchor-expand span {
  transform: rotate(180deg);
}

.DropdownAnchor span {
  font-size: 30px;
  color: #d32526;
}

.DropdownAnchor .Text {
  font-weight: lighter;
}

.DropdownAnchor.PetFilterCard {
  width: 126px;
}

.DropdownAnchor.PriceFilterCard {
  width: 149px;
}

.DropdownAnchor-expand::after {
  background-color: #fff;
  content: "";
  height: 15px;
  width: inherit;
  z-index: 1;
  position: absolute;
  top: 26px;
  left: 0;
}
