{
  "presets": [
    "@babel/react",
    ["@babel/env", {
      "targets": {
        "browsers": [">0.25%", "not op_mini all"],
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-export-default-from",
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    "@babel/plugin-proposal-class-properties",
    ["@babel/proposal-object-rest-spread", {
      "useBuiltIns": true
    }]
  ]
}
