.FilterCard {
  border: 0;
  color: #373737;
  width: 379px;
  box-shadow: 1px 1px 4px 1px lightgrey;
  height: 191px;
  background-color: #fff;
  border-radius: 3px;
}

.FilterCard_Body {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.FilterCard_Buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 175px;
}

.FilterCard.Card {
  justify-content: center;
}
