.SearchFilter {
  border: 0;
  color: #373737;
  box-shadow: 1px 1px 4px 1px lightgrey;
  height: 191px;
  background-color: #fff;
  border-radius: 3px;
  padding: 5px;
  border-radius: 8px;
}

.SearchFilter .FilterCard_Body {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  display: flex;
}

.SearchFilter .FilterCard_Buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 175px;
  padding-right: 22px;
}

.SearchFilter.Card {
  justify-content: center;
}
