.BedroomFilter {
  border: 1px lightgray solid;
  font-family: Helvetica;
  color: #373737;
}

.BedroomFilter_RadioGroup {
  margin: 30px;
  width: 310px;
}

.BedroomFilter_RadioGroup .RadioButton {
  display: inline-block;

  border-radius: 5px;
  border: solid 1px #787878;
  margin: 5px;
}

.BedroomFilter_RadioGroup .RadioButton .Label {
  display: inline-flex;
  width: 80px;
  height: 26px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
}

.BedroomFilter_RadioGroup .RadioButton-checked {
  border: solid 1px #5a5a5a;
  background-color: #5a5a5a;
}

.BedroomFilter_RadioGroup .RadioButton-checked .Label {
  color: #ffffff;
}
