:global {
  .react-datepicker {
    position: absolute;
    font-size: 0.8rem;
    background-color: #fff;
    color: #000;
    border: 1px solid #aeaeae;
    border-radius: 0.3rem;
    left: 6px;
    width: 230px;
    top: calc(100% - 6px);
  }

  .react-datepicker-controls {
    text-align: center;
    border-bottom: 1px solid #aeaeae;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    padding: 8px;
    display: flex;

    .react-datepicker-month {
      color: #000;
      font-size: 13px;
      font-weight: 700;
      flex-basis: 100%;
    }

    .react-datepicker-previous,
    .react-datepicker-next {
      flex: 1;
      border: 8px solid transparent;
      line-height: 0;
    }
  }

  .react-datepicker-date {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: 0;
    vertical-align: baseline;
    color: #000;
    display: inline-block;
    width: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    margin: 0.166rem;
    cursor: pointer;
    background: transparent;

    &:hover {
      border-radius: 0.3rem;
      background-color: #f0f0f0;
    }
  }

  .react-datepicker-date-active {
    background-color: #216ba5;
    border-radius: 4px;
    color: #ccc;

    &:hover {
      background-color: #1d5d90;
    }
  }

  .react-datepicker-date-disabled {
    cursor: default;
    color: #ccc;

    &:hover {
      background-color: transparent;
    }
  }
}
