.Counter {
  max-width: 800px;
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
}

.Counter-label {
  margin-bottom: 5px;
}

.Counter-label-active {
  width: 400px;
}

.Counter-content {
  text-align: center;
  width: 20px;
}

.Counter-shape {
  color: white;
  border-radius: 5px;
  padding: 0 5px;
  background: #666;
}

.title {
  text-align: center;
  font-weight: bold;
}

span.Counter-content {
  margin-left: 10px;
  margin-right: 10px;
}

.Counter-count-content {
  width: 50px;
}
