.title {
  text-align: center;
  font-weight: bold;
}

.Counter {
  width: 100%;
  display: flex;
  margin: 20px;
  max-width: 300px;
}

.Counter_Label {
  display: inline-block;
  flex: 1;
}

.Counter_Controls {
  display: inline-block;
}

.Counter_Text {
  text-align: center;
  padding: 0 20px;
}

.Counter_Button {
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  display: inline-block;
  background: #0076A3;
  cursor: pointer;
}
