.RadioButton {
  display: inline;
  font-size: 16px;
  padding: 10px 5px;
  margin: 5px 0;
  cursor: pointer;
}

.RadioButton .Label {
  cursor: pointer;
}

.RadioButton-vertical {
  display: block;
  border-radius: 3px;
  border: solid .5px #afafaf;
  text-align: center;
  padding: 10px 5px;
}

.RadioButton-vertical .Label {
  display: block;
  cursor: pointer;
}

.RadioButton-checked {
  background-color: rgba(206, 174, 236, 0.25);
}

.RadioButton-hidden .Input {
  display: none;
}

.Input {}
