.Story_Fieldset-padding {
  padding: 0;
}

.Story-alignCenter {
  text-align: center;
}

.Story_ModalClickText {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #ccc;
}
