.Title {
  font-family: Arial, Helvetica, sans-serif;
}

.Title-defaultLook {
  border: solid 1px;
}

.Title-Yuge {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.Title-Yuge a {
  text-decoration: none;
  text-transform: capitalize;
}